<!-- Navbar Start -->
<head>
    <meta charset="utf-8">
    <title>Galenium Pharmasia</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="lib/twentytwenty/twentytwenty.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <img src="img/logo-galenium.png" class="logo" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.html" class="nav-item nav-link">Beranda</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tentang Kami</a>
                    <div class="dropdown-menu m-0">
                        <a href="profilperusahaan.html" class="dropdown-item">Profil Perusahaan</a>
                        <a href="sejarahperusahaan.html" class="dropdown-item">Sejarah Perusahaan</a>
                        <a href="visimisi.html" class="dropdown-item">Visi dan Misi</a>
                        <a href="ofcsite.html" class="dropdown-item">Official Site Galenium</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Produk</a>
                    <div class="dropdown-menu m-0">
                        <a href="produkbebas.html" class="dropdown-item">Produk Bebas (OTC)</a>
                        <a href="produkresep.html" class="dropdown-item">Produk Resep (Ethical)</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Berita & Artikel</a>
                    <div class="dropdown-menu m-0">
                        <a href="beritaperusahaan.html" class="dropdown-item">Berita Perusahaan</a>
                        <a href="artikel.html" class="dropdown-item">Artikel</a>
                    </div>
                </div>
                <a href="eskpor.html" class="nav-item nav-link">Ekspor</a>
                <a href="tolmanufaktur.html" class="nav-item nav-link">Tol Manufaktur</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Karir</a>
                    <div class="dropdown-menu m-0">
                        <a href="tentangkarir.html" class="dropdown-item">Tentang Karir</a>
                        <a href="bergabung.html" class="dropdown-item">Bergabung Dengan Kami</a>
                        <a href="peluangkerja.html" class="dropdown-item">Peluang Kerja</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">CSR</a>
                    <div class="dropdown-menu m-0">
                        <a href="csr.html" class="dropdown-item">Tanggung Jawab Sosial Perusahaan</a>
                    </div>
                </div>
                <a href="toko.html" class="nav-item nav-link">Toko</a>
                <a href="hubungikami.html" class="nav-item nav-link">Hubungi Kami</a>
            </div>
            <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
            <div>
                <div>
                    <a href="#">
                        <img href="" src="img/flagindo.gif" width="auto" height="30">
                    </a>
                </div>
            </div>
            <div>
                <div>
                    <a href="#">
                        <img href="" src="img/flagusrd.gif" width="auto" height="30">
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End --> 
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="lib/twentytwenty/jquery.event.move.js"></script>
    <script src="lib/twentytwenty/jquery.twentytwenty.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>